<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark shadow">
    <div class="container-fluid">
        <a class="navbar-brand d-flex me-2" routerLink="/dashboard" routerLinkActive="active">
            <img src="assets/images/icons8_classroom_200px_1.png" width="24" height="24" class="d-inline-block align-top ms-1" alt="SmartSchool Logo">
            <span class="mx-1"><u>S</u>mart<u>S</u>chool</span>
            <span class="badge rounded-pill text-bg-warning mx-1 px-1 py-0 mb-auto">
              beta
              <span class="visually-hidden">beta version</span>
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">

                @if (authService.loggedInUser) {
                  <li class="nav-item">
                    <div class="btn-group">
                      <a class="nav-link" routerLink="/schools" routerLinkActive="active">Schools</a>
                      <a class="nav-link dropdown-toggle dropdown-toggle-split ps-1 pe-2" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </a>
                      <ul class="dropdown-menu bg-dark border-0 mt-3 py-0 shadow">
                        <li><a class="dropdown-item nav-link" href="#">Classes</a></li>
                        <li><a class="dropdown-item nav-link" href="#">Subjects</a></li>
                        <li><a class="dropdown-item nav-link disabled" href="#">Books</a></li>
                        <li><a class="dropdown-item nav-link" href="#">Exams</a></li>
                        <li><a class="dropdown-item nav-link disabled" href="#">Events</a></li>
                        <!-- <li><hr class="dropdown-divider"></li> -->
                      </ul>
                    </div>
                  </li>
                }

                @if (authService.loggedInUser && (authService.loggedInUser.studentId || authService.loggedInUser.staffId || authService.loggedInUser.teacherId || authService.loggedInUser.principalId)) {
                  <li class="nav-item">
                      <div class="btn-group">
                        <a class="nav-link btn" routerLink="/students" routerLinkActive="active">Students</a>
                        <a class="nav-link dropdown-toggle dropdown-toggle-split ps-1 pe-2" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                          <span class="visually-hidden">Toggle Dropdown</span>
                        </a>
                        <ul class="dropdown-menu bg-dark border-0 mt-3 py-0 shadow">
                          <li><a class="dropdown-item nav-link btn" [routerLink]="['/students', 'create']" routerLinkActive="active">Enrollments</a></li>
                          <li><a class="dropdown-item nav-link" href="#">Enrollment</a></li>
                          <li><a class="dropdown-item nav-link" href="#">Attendance</a></li>
                          <li><a class="dropdown-item nav-link" href="#">Performance</a></li>
                          <li><a class="dropdown-item nav-link" href="#">Guardians</a></li>
                        </ul>
                      </div>
                  </li>
                }

                @if (authService.loggedInUser && (authService.loggedInUser.staffId || authService.loggedInUser.teacherId || authService.loggedInUser.principalId)) {
                  <li class="nav-item">
                    <div class="btn-group">
                      <a class="nav-link" routerLink="/teachers" routerLinkActive="active">Teachers</a>
                      <a class="nav-link dropdown-toggle dropdown-toggle-split ps-1 pe-2" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </a>
                      <ul class="dropdown-menu bg-dark border-0 mt-3 py-0 shadow">
                        <li><a class="dropdown-item nav-link disabled" aria-disabled="true" href="#">Registration</a></li>
                        <li><a class="dropdown-item nav-link" href="#">Enrollments</a></li>
                        <li><a class="dropdown-item nav-link" href="#">Attendance</a></li>
                        <li><a class="dropdown-item nav-link" href="#">Paysheet</a></li>
                      </ul>
                    </div>
                  </li>
                }

                @if (authService.loggedInUser && (authService.loggedInUser.staffId || authService.loggedInUser.teacherId || authService.loggedInUser.principalId)) {
                  <li class="nav-item">
                    <div class="btn-group">
                      <a class="nav-link" routerLink="/principals" routerLinkActive="active">Principals</a>
                      <a class="nav-link dropdown-toggle dropdown-toggle-split ps-1 pe-2" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                      </a>
                      <ul class="dropdown-menu bg-dark border-0 mt-3 py-0 shadow">
                        <li><a class="dropdown-item nav-link disabled" aria-disabled="true" href="#">Registration</a></li>
                        <li><a class="dropdown-item nav-link" href="#">Enrollments</a></li>
                        <li><a class="dropdown-item nav-link" href="#">Attendance</a></li>
                        <li><a class="dropdown-item nav-link" href="#">Paysheet</a></li>
                      </ul>
                    </div>
                  </li>
                }
            </ul>

            <!-- <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
              <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form> -->

            @if (authService.loggedInUser) {
              <div class="dropdown text-end">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <img [src]="authService.loggedInUser.person?.image ? authService.loggedInUser.person?.image : 'assets/images/icons8_male_user_200px_1.png'" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu dropdown-menu-end text-small shadow">
                  <li><a class="dropdown-item" [routerLink]="['/users', authService.loggedInUser.id]">User Profile</a></li>
                  @if (authService.loggedInUser.studentId) {
                    <li><a class="dropdown-item" [routerLink]="['/students', authService.loggedInUser.studentId]">Student Profile</a></li>
                  }
                  @if (authService.loggedInUser.teacherId) {
                    <li><a class="dropdown-item" [routerLink]="['/teachers', authService.loggedInUser.teacherId]">Teacher Profile</a></li>
                  }
                  @if (authService.loggedInUser.principalId) {
                    <li><a class="dropdown-item" [routerLink]="['/principals', authService.loggedInUser.principalId]">Principal Profile</a></li>
                  }
                  @if (authService.loggedInUser.currentSchoolId) {
                    <li><a class="dropdown-item" [routerLink]="['/schools', authService.loggedInUser.currentSchoolId]">My School</a></li>
                  }
                  <li><a class="dropdown-item" [routerLink]="['/settings']">Settings</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" (click)="onLogout()">Logout</a></li>
                </ul>
              </div>
            } 
            @else {
              @if (!isLoading) {
                <button class="btn btn-sm btn-outline-success" [routerLink]="['/auth', 'login']">
                  Login
                </button>
              }
            }
            
        </div>
    </div>
</nav>