<div ref="eFloatingFilterBody" role="presentation" class="ag-floating-filter-body" id="eFloatingFilterBody">
    <div class="ag-floating-filter-input" role="presentation" ref="eFloatingFilterInputContainer">
        <div role="presentation" class="ag-labeled ag-label-align-left ag-text-field ag-input-field ag-disabled"
            disabled="">
            <div ref="eLabel" class="ag-input-field-label ag-label ag-hidden ag-text-field-label" aria-hidden="true"
                role="presentation" id="ag-150-label"></div>
            <div ref="eWrapper" class="ag-wrapper ag-input-wrapper ag-text-field-input-wrapper" role="presentation">
                <input [value]="displayValue" ref="eInput" class="ag-input-field-input ag-text-field-input" type="text" id="ag-150-input"
                    tabindex="0" aria-label="CFilter Input" autocomplete="off" disabled="">
            </div>
        </div>
    </div>
</div>