<mat-progress-bar *ngIf="loading" mode="query"></mat-progress-bar>
<div *ngIf="loading || record; then content else notFound"></div>

<ng-template #content>
    <div *ngIf="record" class="container mt-4">
        <div class="row">
            <!-- Main Info Section -->
            <div class="col-12 col-md-12 mb-4 text-center mb-4">
                <img src="assets/images/student-placeholder.png" alt="{{ record.fullName }}" class="rounded-circle" width="150" height="150">
                <h1 class="mt-3">{{ record.fullName }}</h1>
                <p class="text-muted">
                    <span *ngIf="record.dateOfBirth">
                        {{ age.years }} years, {{ age.months }} months, {{ age.days }} days old | 
                    </span>
                    {{ record.sex | titlecase }}
                </p>
                <div class="">
                    <button class="btn btn-sm btn-primary me-2" (click)="editStudent()">
                        <i class="bi bi-pencil"></i>
                        Edit
                    </button>
                    <button class="btn btn-sm btn-danger me-2" (click)="deleteStudent()">
                        <i class="bi bi-trash"></i>
                        Delete
                    </button>
                </div>
            </div>
            
            <!-- Personal Details Section -->
            <div class="col-12 col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="card-title">
                                <i class="bi bi-person"></i> Personal Details
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <p *ngIf="record.nickname"><i class="bi bi-person-circle"></i> Nickname: {{ record.nickname }}</p>
                        <p *ngIf="record.dateOfBirth"><i class="bi bi-calendar"></i> Date of Birth: {{ record.dateOfBirth | date }}</p>
                        <p *ngIf="record.bcNo"><i class="bi bi-card-checklist"></i> Birth Certificate No: {{ record.bcNo }}</p>
                        <p *ngIf="record.nicNo"><i class="bi bi-card-list"></i> NIC No: {{ record.nicNo }}</p>
                        <p *ngIf="record.passportNo"><i class="bi bi-card-heading"></i> Passport No: {{ record.passportNo }}</p>
                    </div>
                </div>
            </div>

            <!-- Contact Info Section -->
            <div class="col-12 col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="card-title">
                                <i class="bi bi-telephone"></i> Contact Info
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p *ngIf="record.contactNo">
                            <i class="bi bi-phone"></i>
                            <a href="tel:{{ record.contactNo }}">
                                {{ record.contactNo }}
                            </a>
                        </p>
                        <p *ngIf="record.email">
                            <i class="bi bi-envelope"></i>
                            <a href="mailto:{{ record.email }}">
                                {{ record.email }}
                            </a>
                        </p>
                        <p *ngIf=""><i class="bi bi-house"></i> {{ record.address }}</p>
                    </div>
                </div>
            </div>

            <!-- Academic Info Section -->
            <div class="col-12 col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="card-title">
                                <i class="bi bi-book"></i> Academic Info
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>

            <!-- Admission Details Section -->
            <div class="col-12 col-md-6 mb-4">
                <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="card-title">
                            <i class="bi bi-journal"></i> Admission Details
                        </div>
                        <div>
                            <button class="btn btn-sm btn-primary" (click)="addAdmission()">
                                <i class="bi bi-plus"></i>
                                New
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div *ngFor="let admission of [{ school: 'MADINA N S', isCurrent: true, admissionNo: '123456', joinDate: '2024-01-01', leaveDate: null}]" [ngClass]="{'bg-light': admission.isCurrent}">
                    <p>
                        <i class="bi bi-card-text"></i>&nbsp;
                        <a [routerLink]="['/schools', admission.school]">{{ admission.school }}</a>&nbsp;
                        <a [routerLink]="['/schools', admission.school, 'admissions', admission.admissionNo]">(#{{ admission.admissionNo }})</a>&nbsp;
                        | {{ admission.joinDate | date }}
                    </p>
                    </div>
                </div>
                </div>
            </div>
  
        </div>
    </div>
</ng-template>

<ng-template #notFound>
    <app-not-found></app-not-found>
</ng-template>