.container {
  max-width: 960px;
  margin: 0 auto;
}

.card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  height: 100% !important;
}

.card-header {
  background-color: #f8f9fa;
  font-weight: bold;
}

.card-body {
  padding: 1.25rem;
}

.bi {
  margin-right: 0.5rem;
}
