<mat-progress-bar *ngIf="isLoading" mode="query"></mat-progress-bar>
<div *ngIf="isLoading || record; then content else notFound"></div>

<ng-template #content>
    <h2 class="mat-h2 m-0 ms-2">School Student Enrollment Request Details</h2>
    <div *ngIf="record" class="container mt-4">
        <div class="row">
            <!-- Main Info Section -->
            <div class="col-12 col-md-12 mb-4 text-center mb-4">
                <img src="assets/images/icons8_edit_property_200px.png" alt="{{ record.person?.fullName }}" class="rounded-circle" width="150" height="150">
                <h2 class="mt-3">{{ record.person?.fullName }}</h2>
                <p class="text-muted">
                    <span *ngIf="record.person?.age">
                        {{ record.person?.age?.years }} years, {{ record.person?.age?.months }} months, {{ record.person?.age?.days }} days old | 
                    </span>
                    {{ record.person?.sex | titlecase }}
                </p>
                <p class="text-muted">Status: {{ record.status | titleCaseWithSpace }}</p>
                <div class="">
                    @if (authService.loggedInUser?.isPrincipal || authService.loggedInUser?.isTeacher) {
                        <button class="btn btn-sm btn-primary me-2" (click)="editRecord()">
                            <i class="bi bi-pencil"></i>
                            Edit
                        </button>
                        <button class="btn btn-sm btn-danger me-2" (click)="deleteRecord()">
                            <i class="bi bi-trash"></i>
                            Delete
                        </button>
                    }
                </div>
            </div>
            
            <!-- Person Details Section -->
            <div class="col-12 col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="card-title">
                                <i class="bi bi-person"></i> Person Details
                            </div>

                        </div>
                    </div>
                    <div class="card-body">
                        <p *ngIf="record.person?.mobileNo">
                            <i class="bi bi-phone"></i>
                            <a href="tel:{{ record.person?.mobileNo }}">
                                {{ record.person?.mobileNo }}
                            </a>
                        </p>
                        <p *ngIf="record.person?.email">
                            <i class="bi bi-envelope"></i>
                            <a href="mailto:{{ record.person?.email }}">
                                {{ record.person?.email }}
                            </a>
                        </p>
                        <p *ngIf="record.person?.address"><i class="bi bi-house"></i> {{ record.person?.address }}</p>
                        <p *ngIf="record.person?.nickname"><i class="bi bi-person-circle"></i> Nickname: {{ record.person?.nickname }}</p>
                        <p *ngIf="record.person?.dateOfBirth"><i class="bi bi-calendar"></i> Date of Birth: {{ record.person?.dateOfBirth | date }}</p>
                        <p *ngIf="record.person?.bcNo"><i class="bi bi-card-checklist"></i> Birth Certificate No: {{ record.person?.bcNo }}</p>
                        <p *ngIf="record.person?.nicNo"><i class="bi bi-card-list"></i> NIC No: {{ record.person?.nicNo }}</p>
                        <p *ngIf="record.person?.passportNo"><i class="bi bi-card-heading"></i> Passport No: {{ record.person?.passportNo }}</p>
                    </div>
                </div>
            </div>

            <!-- School Details Section -->
            <div class="col-12 col-md-6 mb-4">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <div class="card-title">
                                <i class="bi bi-book"></i>
                                <a [routerLink]="['/schools', record.schoolId ]">School Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <p *ngIf="record.school?.phoneNo">
                            <i class="bi bi-phone"></i>
                            <a href="tel:{{ record.school?.phoneNo }}">
                                {{ record.school?.phoneNo }}
                            </a>
                        </p>
                        <p *ngIf="record.school?.email">
                            <i class="bi bi-envelope"></i>
                            <a href="mailto:{{ record.school?.email }}">
                                {{ record.school?.email }}
                            </a>
                        </p>
                        <p *ngIf="record.school?.address"><i class="bi bi-house"></i> {{ record.school?.address }}</p>

                        <p *ngIf="record.school?.name"><i class="bi bi-person-circle"></i> Nickname: {{ record.school?.name }}</p>
                        <p *ngIf="record.school?.censusNo"><i class="bi bi-calendar"></i> Date of Birth: {{ record.school?.censusNo | date }}</p>
                        <p *ngIf="record.school?.type"><i class="bi bi-card-checklist"></i> Birth Certificate No: {{ record.school?.type }}</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</ng-template>

<ng-template #notFound>
    <app-not-found></app-not-found>
</ng-template>