<div class="container">
    <div class="row">
        <app-slide-show></app-slide-show>
    </div>
    <p>The SmartSchool project introduces a comprehensive web-based management system designed to transform the
        administrative landscape of Sri Lankan government schools. Addressing the significant challenge of outdated
        manual record-keeping systems, this initiative seeks to enhance data integrity, security, and accessibility,
        thereby facilitating improved educational outcomes and administrative efficiency.</p>

    <p>Motivated by the need to modernize school management, the project employs a robust digital platform that
        integrates key functionalities to manage students, staff, guardians, and academic evaluations, alongside an
        interactive event calendar. The system architecture is built on a .NET framework, utilizing MariaDB for database
        management, GraphQL for efficient data handling, and Angular combined with Bootstrap and Angular Material for a
        responsive front-end design.</p>

    <p>Our approach encompasses a comprehensive analysis and design phase, focusing on user requirements and streamlined
        processes for data input and output. The implementation phase adheres to a modular development strategy,
        ensuring scalability and ease of use. Continuous evaluation through manual testing and user feedback has been
        critical in refining the system's functionalities.</p>
</div>